<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1010test2">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/main_name"></activity>
        <activity android:name="LoginActivity"
            android:label="@string/login_name">
        </activity>
        <activity android:name="RegisterActivity"
            android:label="@string/register_name"></activity>
        <activity android:name=".loadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".randomActivity"
        android:label="오늘뭐먹지">
        </activity>
        <activity android:name=".Rice_Random_Activity"
            android:label="밥종류">
        </activity>
        <activity android:name=".Stew_Random_Activity"
            android:label="찌개종류">
        </activity>
        <activity android:name=".Meat_Random_Activity"
            android:label="고기종류">
        </activity>
        <activity android:name=".Schoolfood_Random_Activity"
            android:label="분식종류">
        </activity>
        <activity android:name=".Seafood_Random_Activity"
            android:label="해산물종류">
        </activity>
        <activity android:name=".Pasta_Random_Activity"
            android:label="파스타종류">
        </activity>
        <activity android:name=".Delivery_Random_Activity"
            android:label="배달종류">
        </activity>
        <activity android:name=".Noodle_Random_Activity"
            android:label="국수종류">
        </activity>
    </application>

</manifest>